{% if not item.active %}
    <a class="btn btn-sm btn-success" 
       href="{{ path('activate_nonprofit', {'id':item.id, 'route':app.request.attributes.get('_route')}) }}">
        Activate</a>
{% else %}
    <button class="btn btn-sm btn-danger">Deactivate</button>
{% endif %}
