{% extends 'base.html.twig' %}
{% block body %}
    <div class="m4">
        <div class="d-flex justify-content-center p-2" style="font-size: 24px;">
            Nonprofits
        </div>
        <div class="row">
            <div class="col-3">
                "<i>A civilization flourishes when people plant trees under which 
                    they will never sit.</i>"<br />
                Greek Proverb
            </div>
            <div class="col-6">
                <p><b>Nonprofit organizations new to this site:</b> Nonprofits may 
                    list their volunteer opportunities after a representative submits
                    a registration form and the registration is activated by a site 
                    administrator.</p>
                <p>We suggest that an email address such as coordinator@yourorg.org
                    be used when registering. Registration also includes selecting 
                    from a list of possible nonprofit focuses.</p>
                <p><b>Once an nonprofit is activated</b> its representative may add volunteer
                    opportunities. We will periodically send emails to registered 
                    volunteers who have selected the focus of the nonprofit and 
                    the skills required by the opportunity. The email will include
                    the opportunity's description and the nonprofit's contact information. </p>
                <div>
                    <p><a href='{{ path('register_org') }}' class='btn btn-sm btn-info'>Register a nonprofit</a>
                </div>
            </div>
                <div class="col-3">
<img src="{{ asset('build/images/nonprofit.jpg') }}" alt="hands on" />
                </div>

        </div>

    </div>

{% endblock %}
