{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center" style="font-size: 18pt; font-weight: bold;">ConnectionsReno</div>
    <div class="text-center" >Volunteer Connections for Western Nevada</div>
    <div id="home-image" class="imageContainer">
    <img src="{{  asset('build/images/skyline.jpg') }}" alt="Reno skyline">
    <div class="overlay">
        <span><i>get inspired...get involved...get connected</i></span>
    </div>

    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <p>
                <b>ConnectionsReno</b> was developed in collaboration with the Community 
                Foundation of Western Nevada to connect volunteers with non-profits within the 
                Western Nevada region. We can help those who'd like to volunteer find ways to get involved with their community.  
                We can help non-profits looking for volunteers find the help they need. 
            </p>
        </div>


    </div>

{% endblock %}
