{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center" style="font-size: 18pt; font-weight: bold;">ConnectionsReno</div>
    <div class="text-center" >Volunteer Connections for Western Nevada</div>
    <div id="home-image">
    <img class="imageContainer" src="{{  asset('build/images/skyline.jpg') }}" alt="Reno skyline">
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <p>
                <b>ConnectionsReno</b> was developed in collaboration with the 
                <i style="color:#C53A32;">Your name here</i>. We help connect 
                volunteers with non-profits in the Western Nevada Region, 
                and help non-profits find the help they need. 
            </p>
        </div>
    </div>
{% endblock %}
