{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center" style="font-size: 18pt; font-weight: bold;">Volunteer Connections for Western Nevada</div>
    <img src="{{  asset('build/images/skyline.jpg') }}" alt="volunteer work crew">
{% endblock %}
