{% if item.adminEnabled is not null %}
    {% if value == true %}
        <span class="badge badge-success admin-enable">Yes</span>
    {% else %}
        <span class="badge badge-danger admin-enable">No</span>
    {% endif %}
{% else %}
    <span class="text-center">-</span>
{% endif %}
