{% if not field.value %}
    <a class="badge badge-success" 
       href="{{ path('lock_user', {'id':entity.primaryKeyValue}) }}">
        <span style="text-transform:initial;">Lock</span></a>
{% else %}
    <a class="badge badge-danger" 
       href="{{ path('lock_user', {'id':entity.primaryKeyValue}) }}">
        <span style="text-transform:initial;">Unlock</span></a>
{% endif %}
