{% if not item.isLocked %}
    <a class="badge badge-success" 
       href="{{ path('lock_user', {'id':item.id}) }}">
        Lock</a>
{% else %}
    <a class="badge badge-danger" 
       href="{{ path('lock_user', {'id':item.id}) }}">
        Unlock</a>
{% endif %}
