    {# adding text with display: none; allows functional testing#}
{% set class = entity.fqcn|slice(11,10) %}
{% set name = field.property %}
{% set id = entity.primaryKeyValue %}
{% if class == "Admin" and entity.instance.hasRole('ROLE_SUPER_ADMIN') and field.property == 'enabled' %}
    <span class="text-danger" title="Super Admin: cannot be disabled">SA</span>
{% else %}
    {% if field.value  %}
        {% set check = 'checked="checked"' %}
    {% else %}
        {% set check = null %}
    {% endif %}
    <div class="custom-control custom-switch">
        <a href="{{ path('admin_switch', {'src':class~'-'~name~'-'~id}) }}" id="{{name~id}}">
            <span style="display: none;">Switch{{ name }}</span>
            <input type="checkbox" class="custom-control-input" {{ check|raw }}>
            <label class="custom-control-label" for="customSwitch"></label>
        </a>
    </div>
{% endif %}
