$cfwn-red:#C53A32;
$cfwn-darkblue:#274b72;
$cfwn-blue:#417dbe;

$info:$cfwn-blue;
$danger:$cfwn-red;
$success:#00cc00;

@import "./jquery-ui.min.css";
@import "~bootstrap/scss/bootstrap";

@media screen {
    .imageContainer {
        width: 100%;
        height: auto;
    }
}

.cfwn-blue {
    font-weight: bold;
    color: #274b72;
}

.oppTable thead th{
    background: #d9e5f2; 
}

.oppTable thead th:first-of-type{
    border-top-left-radius: 10px; 
}

.oppTable thead th:last-of-type{
    border-top-right-radius: 10px; 
}

.ul-cfwn {
    border-bottom: 3px solid  $cfwn-red;
}
