{% if form.rep is defined %}{% set entity = form.rep %}{% else %}{% set entity = form %}{% endif %}
<div class=" mb-2">
    {{ form_row(entity.plainPassword.first) }}
</div>
{{ form_help(entity.plainPassword) }}
<div class=" mb-2">
    {{ form_row(entity.plainPassword.second) }}
</div>
