<div class="text-center text-bold mb-2 ul-cfwn">
Searching for opportunities
</div>
<p>You can search for opportunties offered by nonprofits
    whose focus meets your interest. You can also search
    for opportunities that need skills you have. If you do 
    not select any option for either focus or skill the search
    will return all currently open opportunities.</p>