<p><u>Filling out the form</u></p>
<p>
    Active: Uncheck to exclude this opportunity from searches even if 
    it has not yet expired.
</p>
<p>
    Name: Two or three words as if it's a job title.
</p>
<p>
    Description: A few words as if it's a job description. Let prospective volunteers
    know how many hours and days in a week they're needed. Say what kinds of things
    they'll be doing.
</p>
<p>
    Expiration: Unless otherwise provided, the opportunity will expire in 13 weeks. 
    After expiration the opportunity will not appear in any searches.
</p>
<p>
    Minimum age: The minimum age of a volunteer for this opportunity.
</p>
<p>
    Group OK?: Check this box if the opportunity is appropriate for groups.
</p>
<p>
    Background check req'd?: Check this box if your organization requires a background
    check for volunteers interested in this opportunity.
</p>
