<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navTop %}
        {% endblock %}
        <div class="container">
            {% if is_full_view() %}
                {% block nav_full %}
                    {% include 'Default/top_menu.html.twig' %}
                    {% include 'Default/main_menu.html.twig' %}
                {% endblock nav_full %}
            {% endif %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
            {% if is_mobile_view() %}
                {% block nav_mobile %}
                    {% include 'Default/mobile_menu.html.twig' %}
                    {% include 'Default/top_menu.html.twig' %}
                {% endblock nav_mobile %}
            {% endif %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
