{% extends 'base.html.twig' %}
{% block body %}
    {% include 'User/userCommon.html.twig' %}
    <div class="d-inline-flex p-2">
        {{ form_row(form.focuses) }}
    </div>
    <div class="d-inline-flex p-2">
        {{ form_row(form.skills) }}
    </div>
{% endblock %}
