<p>Hi {{ staff.fname }}</p>
<p>We're writing to let you know that the {{ opp.oppname }} opportunity will
expire next week, on {{ opp.expiredate|date('l, F j') }}. If you want to 
extend the offering of that opportunity, log in at <a 
    href='{{ absolute_url('opp_edit', {'id':opp.id})}}'>this link</a>.
If not you can simply ignore this notice.</p>
<p>The ConnectionsReno Team</p>
    
