{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            {{ headerText }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
