<p>Hi {{ staff.fname }}</p>
<p>This email is to let you know that {{ npo.orgname }} has been activated as of
    {{ ''|date('m/d/Y') }}. You will now be able post opportunities at 
    <a href="{{ absolute_url('home_page') }}">ConnectionsReno</a>. Once a week
    we will email opportunities posted within the previous week to registered volunteers. 
    We'd love to hear from you about the effectiveness of your post.</p>
<p>Thanks.</p>
<p>The ConnectionsReno Team</p>
