<p>This email is to let you know that {{ orgname }} has been activated as of
    {{ ''|date('m/d/Y') }}. You will now be able post opportunites at 
    <a href="{{ path('home') }}">Posting opportunities</a>. Once a week
    we will email opportunities posted within the previous week to registered volunteers. 
    We'd love to hear from you about the effectiveness of your post.</p>
<p>Thank you from the Volunteer Connections team.</p>