<p>Hi {{ fname }},</p>
<p>Welcome to Volunteer Connections.</p>
<p>Click on this <a href="{{ absolute_url(path('confirm', {'token':token})) }}">link</a> to 
    complete your registration and create your account.</p>
<p>After your account is created you will begin to receive emails announcing new volunteer
opportunities that match your focus and skill options. At any time you can stop 
receiving these emails by logging in to your account and unchecking the Receive emails box.</p> 
<p>This link will expire in 3 hours [@ {{ expires|date('g:i A, l, F j') }}].</p>
<p>Thanks.</p>
<p>Tne ConnectionsReno Team</p>